# Quandl, Concatenating and Appending, Joining and Merging

For this we need Quandl. First we need to get free account on quandl and get API key.
we can install Quandl by pip as

pip install quandl

The Exmple we tool is of 
Canadian Mortgage and Housing Corporation
It's by Quandl.

 Note: Authtoken is mine. Go to account settings on quandl to find the Auth token or API key

In [1]:
import quandl
import pandas as pd

df= quandl.get('CMHC/HUDAA_NT', authtoken= '4ZtCefswyJnz6rrATCjq')
df.head()

            Single  Semi-Detached  Row  Apartment    All
Date
1990-03-31    21.0            0.0  0.0      110.0  131.0
1990-06-30    14.0            0.0  0.0      110.0  124.0
1990-09-30    12.0            0.0  0.0        0.0   12.0
1990-12-31    13.0            0.0  0.0        0.0   13.0
1991-03-31     7.0            0.0  0.0        0.0    7.0

In [10]:
import quandl
import pandas as pd

abb_states= pd.read_html('http://www.comeexplorecanada.com/abbreviations.php')
#print(abb_states[10][0][1:])

for abbv in abb_states[10][0][1:]:
    print("CMHC/HUDAA_"+str(abbv))

CMHC/HUDAA_AB
CMHC/HUDAA_BC
CMHC/HUDAA_MB
CMHC/HUDAA_NB
CMHC/HUDAA_NL
CMHC/HUDAA_NS
CMHC/HUDAA_NT
CMHC/HUDAA_NU
CMHC/HUDAA_ON
CMHC/HUDAA_PE
CMHC/HUDAA_QC
CMHC/HUDAA_SK
CMHC/HUDAA_YT

In [13]:
import pandas as pd

df1 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2001, 2002, 2003, 2004])

df2 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2005, 2006, 2007, 2008])

df3 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'Low_tier_HPI':[50, 52, 50, 53]},
                   index = [2001, 2002, 2003, 2004])

concat= pd.concat([df1,df2,df3])

# Concatenating

In [14]:
concat

      HPI  Int_rate  Low_tier_HPI  US_GDP_Thousands
2001   80         2           NaN              50.0
2002   85         3           NaN              55.0
2003   88         2           NaN              65.0
2004   85         2           NaN              55.0
2005   80         2           NaN              50.0
2006   85         3           NaN              55.0
2007   88         2           NaN              65.0
2008   85         2           NaN              55.0
2001   80         2          50.0               NaN
2002   85         3          52.0               NaN
2003   88         2          50.0               NaN
2004   85         2          53.0               NaN

In [15]:
df4= df1.append(df2)

In [16]:
df4

      HPI  Int_rate  US_GDP_Thousands
2001   80         2                50
2002   85         3                55
2003   88         2                65
2004   85         2                55
2005   80         2                50
2006   85         3                55
2007   88         2                65
2008   85         2                55

In [19]:
s= pd.Series([12,3,55], index=['HPI','Int_rate','US_GDP_Thousands'])
df4=df1.append(s,ignore_index=True)
print(df4)

   HPI  Int_rate  US_GDP_Thousands
0   80         2                50
1   85         3                55
2   88         2                65
3   85         2                55
4   12         3                55

# Merging

In [23]:
import pandas as pd

df1 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2001, 2002, 2003, 2004])

df2 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2005, 2006, 2007, 2008])

df3 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Unemployment':[7, 8, 9, 6],
                    'Low_tier_HPI':[50, 52, 50, 53]},
                   index = [2001, 2002, 2003, 2004])

merge=  pd.merge(df1,df2, on= ['HPI','Int_rate'])

In [24]:
merge

   HPI  Int_rate  US_GDP_Thousands_x  US_GDP_Thousands_y
0   80         2                  50                  50
1   85         3                  55                  55
2   88         2                  65                  65
3   85         2                  55                  55

In [5]:
import pandas as pd

df1 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2001, 2002, 2003, 2004])

df2 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2005, 2006, 2007, 2008])

df3 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Unemployment':[7, 8, 9, 6],
                    'Low_tier_HPI':[50, 52, 50, 53]},
                   index = [2001, 2002, 2003, 2004])

merge=  pd.merge(df1,df2, on= ['HPI','Int_rate'])




df1.set_index('HPI', inplace=True)
df3.set_index('HPI', inplace=True)
joined= df1.join(df3)

In [6]:
joined

     Int_rate  US_GDP_Thousands  Low_tier_HPI  Unemployment
HPI
80          2                50            50             7
85          3                55            52             8
85          3                55            53             6
85          2                55            52             8
85          2                55            53             6
88          2                65            50             9

# Left and Right Join


    Left - equal to left outer join SQL - use keys from left frame only
    Right - right outer join from SQL- use keys from right frame only.
    Outer - full outer join - use union of keys
    Inner - use only intersection of keys.

In [12]:
import pandas as pd

df1 = pd.DataFrame({'Year':[2001,2002,2003,2004],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]})
                   



df3 = pd.DataFrame({'Year':[2001,2003,2004,2005],
                    'Unemployment':[7, 8, 9, 6],
                    'Low_tier_HPI':[50, 52, 50, 53]})
                   
#merged= pd.merge(df1,df3,on='Year', how='left') #values from df1
merged=pd.merge(df1,df3,on='Year', how='right') #values from df3
merged.set_index('Year', inplace=True)

In [14]:
merged

      Int_rate  US_GDP_Thousands  Low_tier_HPI  Unemployment
Year
2001       2.0              50.0            50             7
2003       2.0              65.0            52             8
2004       2.0              55.0            50             9
2005       NaN               NaN            53             6

# Outer Join

In [15]:
import pandas as pd

df1 = pd.DataFrame({'Year':[2001,2002,2003,2004],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]})
                   



df3 = pd.DataFrame({'Year':[2001,2003,2004,2005],
                    'Unemployment':[7, 8, 9, 6],
                    'Low_tier_HPI':[50, 52, 50, 53]})
                   

merged=pd.merge(df1,df3,on='Year', how='outer') 
merged.set_index('Year', inplace=True)

In [16]:
merged

      Int_rate  US_GDP_Thousands  Low_tier_HPI  Unemployment
Year
2001       2.0              50.0          50.0           7.0
2002       3.0              55.0           NaN           NaN
2003       2.0              65.0          52.0           8.0
2004       2.0              55.0          50.0           9.0
2005       NaN               NaN          53.0           6.0

# Inner Join

In [17]:
import pandas as pd

df1 = pd.DataFrame({'Year':[2001,2002,2003,2004],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]})
                   



df3 = pd.DataFrame({'Year':[2001,2003,2004,2005],
                    'Unemployment':[7, 8, 9, 6],
                    'Low_tier_HPI':[50, 52, 50, 53]})
                   
#merged= pd.merge(df1,df3,on='Year', how='left') #values from df1
merged=pd.merge(df1,df3,on='Year', how='inner') 
merged.set_index('Year', inplace=True)

In [18]:
merged

      Int_rate  US_GDP_Thousands  Low_tier_HPI  Unemployment
Year
2001         2                50            50             7
2003         2                65            52             8
2004         2                55            50             9